.pin {
    content: url(images/pin.png);
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline;
    cursor: pointer;
}

#pin1 {
    left: 975px;
    top: 281px;
}

#pin2 {
    left: 0px;
    top: 0px;
}

#pin3 {
    left: 0px;
    top: 0px;
}

#pin4 {
    left: 0px;
    top: 0px;
}

#pin5 {
    left: 0px;
    top: 0px;
}

#pin6 {
    left: 0px;
    top: 0px;
}

#pin7 {
    left: 0px;
    top: 0px;
}

#pin8 {
    left: 0px;
    top: 0px;
}

#pin9 {
    left: 0px;
    top: 0px;
}

#pin10 {
    left: 0px;
    top: 0px;
}

#pin11 {
    left: 0px;
    top: 0px;
}

#pin12 {
    left: 0px;
    top: 0px;
}

#pin13 {
    left: 0px;
    top: 0px;
}

#pin14 {
    left: 0px;
    top: 0px;
}

#pin15 {
    left: 0px;
    top: 0px;
}

#pin16 {
    left: 0px;
    top: 0px;
}

#pin17 {
    left: 0px;
    top: 0px;
}

#pin18 {
    left: 0px;
    top: 0px;
}

#pin19 {
    left: 0px;
    top: 0px;
}

#pin20 {
    left: 0px;
    top: 0px;
}

#pin21 {
    left: 0px;
    top: 0px;
}

#pin22 {
    left: 0px;
    top: 0px;
}

#pin23 {
    left: 0px;
    top: 0px;
}

#pin24 {
    left: 0px;
    top: 0px;
}

#pin25 {
    left: 0px;
    top: 0px;
}

#pin26 {
    left: 0px;
    top: 0px;
}

#pin27 {
    left: 0px;
    top: 0px;
}

#pin28 {
    left: 0px;
    top: 0px;
}

#pin29 {
    left: 0px;
    top: 0px;
}

#pin30 {
    left: 0px;
    top: 0px;
}
