.pin {
    content: url(images/pin.png);
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline;
    cursor: pointer;
}

#pin_1 {
    left: 975px;
    top: 281px;
}

#pin_2 {
    left: 900px;
    top: 200px;
}

#pin_3 {
    left: 0px;
    top: 0px;
}

#pin_4 {
    left: 0px;
    top: 0px;
}

#pin_5 {
    left: 0px;
    top: 0px;
}

#pin_6 {
    left: 0px;
    top: 0px;
}

#pin_7 {
    left: 0px;
    top: 0px;
}

#pin_8 {
    left: 0px;
    top: 0px;
}

#pin_9 {
    left: 0px;
    top: 0px;
}

#pin_10 {
    left: 0px;
    top: 0px;
}

#pin_11 {
    left: 0px;
    top: 0px;
}

#pin_12 {
    left: 0px;
    top: 0px;
}

#pin_13 {
    left: 0px;
    top: 0px;
}

#pin_14 {
    left: 0px;
    top: 0px;
}

#pin_15 {
    left: 0px;
    top: 0px;
}

#pin_16 {
    left: 0px;
    top: 0px;
}

#pin_17 {
    left: 0px;
    top: 0px;
}

#pin_18 {
    left: 0px;
    top: 0px;
}

#pin_19 {
    left: 0px;
    top: 0px;
}

#pin_20 {
    left: 0px;
    top: 0px;
}

#pin_21 {
    left: 0px;
    top: 0px;
}

#pin_22 {
    left: 0px;
    top: 0px;
}

#pin_23 {
    left: 0px;
    top: 0px;
}

#pin_24 {
    left: 0px;
    top: 0px;
}

#pin_25 {
    left: 0px;
    top: 0px;
}

#pin_26 {
    left: 0px;
    top: 0px;
}

#pin_27 {
    left: 0px;
    top: 0px;
}

#pin_28 {
    left: 0px;
    top: 0px;
}

#pin_29 {
    left: 0px;
    top: 0px;
}

#pin_30 {
    left: 0px;
    top: 0px;
}
