.pin {
    content: url(images/pin.png);
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline;
    cursor: pointer;
}

#pin_1 {
    left: 940px;
    top: 430px;
}

#pin_2 {
    left: 935px;
    top: 455px;
}

#pin_3 {
    left: 945px;
    top: 480px;
}

#pin_4 {
    left: 985px;
    top: 533px;
}

#pin_5 {
    left: 966px;
    top: 564px;
}

#pin_6 {
    left: 834px;
    top: 306px;
}

#pin_7 {
    left: 960px;
    top: 536px;
}

#pin_8 {
    left: 965px;
    top: 455px;
}

#pin_9 {
    left: 864px;
    top: 336px;
}

#pin_10 {
    left: 923px;
    top: 485px;
}

#pin_11 {
    left: 623px;
    top: 221px;
}

#pin_12 {
    left: 944px;
    top: 548px;
}

#pin_13 {
    left: 910px;
    top: 400px;
}

#pin_14 {
    left: 820px;
    top: 378px;
}

#pin_15 {
    left: 905px;
    top: 465px;
}

#pin_16 {
    left: 992px;
    top: 574px;
}

#pin_17 {
    left: 889px;
    top: 412px;
}

#pin_18 {
    left: 931px;
    top: 400px;
}

#pin_19 {
    left: 887px;
    top: 468px;
}

#pin_20 {
    left: 903px;
    top: 488px;
}

#pin_21 {
    left: 947px;
    top: 500px;
}

#pin_22 {
    left: 783px;
    top: 353px;
}

#pin_23 {
    left: 750px;
    top: 425px;
}

#pin_24 {
    left: 965px;
    top: 487px;
}

#pin_25 {
    left: 955px;
    top: 471px;
}

#pin_26 {
    left: 865px;
    top: 357px;
}

#pin_27 {
    left: 924px;
    top: 432px;
}

#pin_28 {
    left: 889px;
    top: 482px;
}

#pin_29 {
    left: 940px;
    top: 445px;
}

#pin_30 {
    left: 903px;
    top: 425px;
}
